@media screen and (width: 360px) {
  html {
    font-size: 18px;
  }
}
@media screen and (width: 375px) {
  html {
    font-size: 18.75px;
  }
}
@media screen and (width: 320px) {
  html {
    font-size: 16px;
  }
}
@media screen and (width: 412px) {
  html {
    font-size: 20.6px;
  }
}
@media screen and (width: 414px) {
  html {
    font-size: 20.7px;
  }
}
